Repository simonkowalski1/HeirLuxury: changes, and which pre-commit hooks are due for each by the changed paths.
All: laravel-pint, eslint, prettier, phpunit

.pre-commit-config.yaml:

# ABOUTME: Pre-commit hook configuration for HeirLuxury.
# ABOUTME: Runs Pint, ESLint, Prettier, and PHPUnit before every commit.
repos:
  # PHP: Laravel Pint (formatting + linting)
  - repo: local
    hooks:
      - id: laravel-pint
        name: Laravel Pint
        entry: ./vendor/bin/pint --test
        language: system
        files: \.php$
        pass_filenames: false

  # JS: ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(js|mjs)$
        pass_filenames: true

  # JS/CSS/JSON: Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx prettier --check
        language: system
        files: \.(js|css|json)$
        pass_filenames: true

  # PHP: PHPUnit
  - repo: local
    hooks:
      - id: phpunit
        name: PHPUnit Tests
        entry: php artisan test
        language: system
        files: \.php$
        pass_filenames: false
        stages: [pre-commit]

Add session-based wishlist feature with heart buttons and navbar dropdown
  app/Http/Controllers/WishlistController.php
  lang/en/messages.php
  lang/pl/messages.php
  public/build/assets/app-B0_3b7RV.css
  public/build/assets/app-BsIryLRv.js
  public/build/assets/app-C4b_I1bV.css
  public/build/assets/app-CCdbDnTJ.js
  public/build/assets/app-CgSK3PO6.css
  public/build/manifest.json
  resources/js/app.js
  resources/views/components/product/card.blade.php
  resources/views/layouts/navbar.blade.php
  resources/views/wishlist/dropdown.blade.php
  routes/web.php
  tests/Feature/WishlistControllerTest.php
Due: laravel-pint, eslint, prettier, phpunit

Update catalog taxonomy from brands.tsv and mark Prompt 11 complete
  .claude/promt_plan.md
  config/categories.php
  resources/views/catalog/mega.blade.php
Due: laravel-pint, phpunit

Purge deprecated artisan commands and one-off scripts
  app/Console/Commands/BackfillProductSlugs.php
  app/Console/Commands/BackfillSlugs.php
  app/Console/Commands/DeduplicateImages.php
  app/Console/Commands/GenerateThumbnails.php
  app/Console/Commands/ImportBrands.php
  app/Console/Commands/ImportLV.php
  app/Console/Kernel.php
  app/Http/Controllers/Admin/ProductController.php
  heirluxury-update.ps1
  reorganize-imports.ps1
Due: laravel-pint, phpunit

Add wishlist heart button to product gallery and auto-open dropdown
  public/build/assets/app-BsIryLRv.js
  public/build/assets/app-SaNs8UQJ.js
  public/build/manifest.json
  resources/js/app.js
  resources/views/catalog/product.blade.php
  resources/views/components/product/gallery.blade.php
Due: laravel-pint, eslint, prettier, phpunit

Fix wishlist dropdown by removing duplicate Alpine.js CDN script
  resources/views/layouts/public.blade.php
Due: laravel-pint, phpunit

Fix wishlist dropdown hidden by navbar stacking context
  resources/views/layouts/navbar.blade.php
  resources/views/wishlist/dropdown.blade.php
Due: laravel-pint, phpunit

Move wishlist dropdown to layout body level to fix visibility
  resources/views/layouts/navbar.blade.php
  resources/views/layouts/public.blade.php
  resources/views/wishlist/dropdown.blade.php
Due: laravel-pint, phpunit

Fix wishlist dropdown by moving back inside navbar Alpine scope
  resources/views/layouts/navbar.blade.php
  resources/views/layouts/public.blade.php
  resources/views/wishlist/dropdown.blade.php
Due: laravel-pint, phpunit

Make wishlist dropdown items clickable links to product pages
  app/Http/Controllers/WishlistController.php
  public/build/assets/app-C4b_I1bV.css
  public/build/assets/app-CgVIyxlD.css
  public/build/manifest.json
  resources/views/wishlist/dropdown.blade.php
Due: laravel-pint, prettier, phpunit

Fix wishlist UI: gallery overlap, dropdown positioning, and open behavior
  public/build/assets/app-CgVIyxlD.css
  public/build/assets/app-CykeQTQq.js
  public/build/assets/app-DZ-qLZ1N.css
  public/build/assets/app-SaNs8UQJ.js
  public/build/manifest.json
  resources/js/app.js
  resources/views/catalog/product.blade.php
  resources/views/components/product/gallery.blade.php
  resources/views/layouts/navbar.blade.php
  resources/views/wishlist/dropdown.blade.php
Due: laravel-pint, eslint, prettier, phpunit

Replace SMTP placeholders in DEPLOY.md to satisfy GitGuardian
  DEPLOY.md
Due: none

Wire up admin dashboard metrics, top brands, and recent products
  resources/views/admin/dashboard.blade.php
  tests/Feature/Admin/DashboardTest.php
Due: laravel-pint, phpunit

Add sortable column headers to admin products table
  app/Http/Controllers/Admin/ProductController.php
  resources/views/admin/products/index.blade.php
  tests/Feature/Admin/ProductControllerTest.php
Due: laravel-pint, phpunit

feat(admin): show product count per category in categories list
  app/Http/Controllers/Admin/CategoryController.php
  app/Models/Category.php
  resources/views/admin/categories/index.blade.php
  tests/Feature/Admin/CategoryControllerTest.php
Due: laravel-pint, phpunit

feat(admin): add search, filter, and sorting to categories index
  app/Http/Controllers/Admin/CategoryController.php
  resources/views/admin/categories/index.blade.php
  tests/Feature/Admin/CategoryControllerTest.php
Due: laravel-pint, phpunit

feat(admin): add activity audit log for tracking admin actions
  app/Http/Controllers/Admin/ActivityLogController.php
  app/Models/ActivityLog.php
  app/Models/Category.php
  app/Models/Product.php
  app/Models/Traits/LogsActivity.php
  database/migrations/2026_02_10_013226_create_activity_logs_table.php
  resources/views/admin/activity-log/index.blade.php
  resources/views/admin/layouts/app.blade.php
  routes/web.php
  tests/Feature/Admin/ActivityLogTest.php
Due: laravel-pint, phpunit

feat(admin): add bulk import UI and fix image_path migration
  app/Http/Controllers/Admin/ImportController.php
  database/migrations/2025_12_07_164211_add_image_path_to_products_table.php
  resources/views/admin/import/index.blade.php
  resources/views/admin/layouts/app.blade.php
  routes/web.php
  tests/Feature/Admin/ImportControllerTest.php
Due: laravel-pint, phpunit

feat(admin): unify categories from config to database
  app/Http/Controllers/Admin/CategoryController.php
  app/Models/Category.php
  config/categories.php
  database/factories/CategoryFactory.php
  database/migrations/2026_02_10_014431_add_taxonomy_fields_to_categories_table.php
  database/seeders/CategorySeeder.php
  resources/views/admin/categories/create.blade.php
  resources/views/admin/categories/edit.blade.php
  resources/views/catalog/_sidenav.blade.php
  resources/views/catalog/mega.blade.php
  tests/Feature/Admin/CategoryUnificationTest.php
  tests/Unit/CategoryModelTest.php
Due: laravel-pint, phpunit

feat(admin): add multi-image gallery management for products
  app/Http/Controllers/Admin/ProductController.php
  app/Http/Controllers/Admin/ProductImageController.php
  app/Models/Product.php
  app/Models/ProductImage.php
  database/factories/ProductImageFactory.php
  database/migrations/2026_02_10_015402_create_product_images_table.php
  resources/views/admin/products/_gallery.blade.php
  resources/views/admin/products/edit.blade.php
  routes/web.php
  tests/Feature/Admin/ProductImageTest.php
Due: laravel-pint, phpunit

feat(admin): add thumbnail upload with auto-WebP conversion
  app/Http/Controllers/Admin/ProductController.php
  app/Models/Product.php
  database/migrations/2026_02_10_015951_add_thumbnail_to_products_table.php
  resources/views/admin/products/_form.blade.php
  resources/views/components/product/card.blade.php
  tests/Feature/Admin/ThumbnailUploadTest.php
  tests/Unit/ProductModelTest.php
Due: laravel-pint, phpunit

Delete .claude directory
  .claude/promt_plan.md
  .claude/settings.local.json
Due: prettier

security: remove exposed GCP project ID and SMTP credentials from DEPLOY.md
  DEPLOY.md
Due: none
